
.header-container{
    background-image: url(./Images/bannerbackground.png);
    background-repeat: no-repeat;
    background-position: center top ;
   height: 100%;
}

.nav {
padding-top: 20px;
display: flex;
justify-content: space-between;
gap: 20px;
color: var(--font-primary-color);
font-size:36px;
}
#right-menu-icon-id{
    width: 175px;
    text-align: right;
  
}
.banner-title h1{
     font-size: 75px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 5px;
    margin: 40px 0px;
}
.banner-description{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 40px 0;

}
.banner-description p{
    color:var(--font-primary-color);
     font-size: 20px;
}

.banner-profile-container{
display: flex;
justify-content: space-between;
border-top: 1px solid var(--font-primary-color);
border-bottom: 1px solid var(--font-primary-color);
}

.banner-profile-desc{
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 40px;

}

.works-icon-container{
    display: flex;
    gap: 14px;
    padding: 40px 0px;

}
.size-6{
    width: 60px;
    height:60px;}

.banner-image-container{
    background-color: white;
    width: fit-content;
}

#banner-image-id{
    height: 300px;
}
.complete-projcet-card h1{
    font-size: 152px;
    text-transform: uppercase;
}
.complete-projcet-card h2{
    font-size: 40px;
    text-transform: uppercase;
}
.complete-projcet-container{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content:space-between;
}












/*This is media query for responsive phn with pc*/
@media only screen and (min-width:200px) and (max-width:576px) {
.container {
    padding: 0px 5px;

}
    .nav{
        font-size: 16px;
    }
.complete-projcet-container{
    display: flex;
    flex-direction: column;
}

.banner-title h1{
    font-size: 25px;
}
.banner-image-container{
    width: 100%;
}
#banner-image-id{
    width:100%;
}
.banner-title h1{
     font-size: 25px;
}

}